 header{
	background-image:url(background.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:97vh;
	margin:-10px;
	
}

/*--------main nav bar----*/
.container1{
	display:flex;
	margin:20px;
	float:right;
	flex-wrap:wrap;
}
.container-item {
	padding:10px;
}
.container-item a{
	text-decoration:none;
	text-transform:capitalize;
	color:white;
	padding:10px;
	border:3px solid white;
	border-radius:20px;
}
.container-item a:hover{
	background-color:black;
}

.hgroup h1{
	text-transform:capitalize;
	text-align:justify;
}
.title{
	text-transform:capitalize;
	flex-wrap:wrap;
}
.title{
	font-size:1.5em;
	margin-left:120px;
	padding-top:150px;
	
}
.title-dsc {
	text-align:justify;
	font-size:1.2em;
}
h2{
	margin-top:40px;
	text-decoration:underline;
}
h3{
	text-align:center;
	margin-left:10px;
	text-decoration:underline;
}
.dropdown{
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-end;
	padding-bottom:60px;
}

.container2{
	flex-wrap:wrap;
}

.row{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.row:hover{
    
}
.col-1{
	text-decoration:none;
	padding:5px;
	margin:5px;
	
}
.col-1  h4 a{
	text-decoration:none;
	
}
.col-2  h4 a{
	text-decoration:none;
	
}
.col-3  h4 a{
	text-decoration:none;
	
}
.col-2{
	padding:5px;
	margin:5px;
	
}
.col-3{
	padding:5px;
	margin:5px;
}
/*------footer----*/
footer{
	background-image:url(background.jpg);
}
footer{
	text-align:center;
	margin:-10px;
	
}
.rel-product{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.col-4{
	padding:10px;
	margin:5px;
}
.row1{
	display:flex;
	flex-wrap:wrap;
	padding:30px 30px;
	justify-content:center;
}
.col-5{
	padding:10px;
	margin:5px;
	text-align:inline-block;
}
.col-5 a{
	text-decoration:none;
	text-transform:capitalize;
}
.col-5 a:hover{
	color:orange;
}
.rel-pdt{
	text-align:center;
}
/*-------cart----*/
.small-container{
	margin:auto;
}
table{
	width:100%;
	padding-top:20px;
}

.cart-info{
	display:flex;
	flex-wrap:wrap;
	
}
th{
	text-align:left;
	padding:5px;
	color:#fff;
	background:#ff523b;
}
td{
	padding:10px 5px;
}
td input{
	width:40px;
	height:30px;
	padding:5px;
}
td a{
	color:#ff523b;
	font-size:12px;
}
td img{
	width:80px;
	height:80px;
	margin-right:10px;
}
.total-price{
	display:flex;
	justify-content:flex-end;
}
.total-price table{
	border-top:3px solid #ff523b;
	width:100%;
	max-width:470px;
}
.td:lastchild{
	text-align:right;
}
.th:lastchild{
	text-align:right;
}

.form-container{
	display:inline-block;
	
	justify-content:center;
}
/*------account login---*/
.loginform{
	text-align:center;
	display:flex;
	padding:10px;
	flex-wrap:wrap;
	flex-direction:column;
	border:2px double;
	border-radius:10px;
	box-shadow: 5px 5px 3px brown;
}
.form-container{
	padding:50px;
}
.login{
	text-decoration:none;
	padding-bottom:20px;
	
}
.loginform a{
	font-size:15px;
	text-decoration:none;
}
/*-----reg---*/
.Regform{
	text-align:center;
	display:flex;
	padding:10px;
	flex-wrap:wrap;
	flex-direction:column;
	border:2px double;
	border-radius:10px;
	box-shadow: 5px 5px 3px brown;
}

